<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

    <title>Resume</title>

      <link rel="stylesheet" href="/static/css/normalize.css">

          <link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />

          </head>

          <body>

          <div style="text-align:center;clear:both;">
          </div>


          <ul class="live">
                  <li>熟悉各类发行版Linux及服务与内核的配置调优，熟悉系统安全与网络性能优化，具备较强的网络抓包，故障判断、排除经验。</li>
                  <li>熟悉OpenStack、Docker、K8S、Ceph分布式存储的部署与运维经验及基于K8S的jenkins pipeline动态salve CI/CD、基于容器化监控通知与日志分析告警。</li>
                  <li>熟悉Python开发，能独立完成基于Django REST Framework+VUE的前后端分离自动化运维平台的开发；认同DEVOPS文化，有ChatOps Robot开发经验。</li>
                  <li>熟悉Zabbix、Prometheus监控平台、SaltStack、Ansible自动化编排管理，Consul配置平台以及ELK日志采集分析平台。</li>
                  <li>熟悉基于Jenkins、GitlabCI+Docker容器化构建并整合JIRA项目管理的持续集成与交付的自动化CI/CD平台开发。</li>
                  <li>熟悉LVS、MongoDB、MySQL、RabbitMQ、Nginx反代等基础服务中间件的集群部署方案及性能调优与维护工作。</li>
                  <li>熟悉搭建公司IT、项目管理平台，熟练JIRA表单、工作流、SDK二次开发：自动化周报生成、考勤审批工单系统、会议管理、人力资源管理、PKI整合、基于看板的项目自动化发布及数据采集分析与信息推送功能的开发。</li>
                  <li>熟悉硬件防火墙(Juniper、HuaWei)、负载均衡（F5、Radware）、路由交换（Cisco、HuaWei）磁盘阵列、光纤交换机、磁带库的配置和维护工作。能独立完成项目组网方案、拓扑设计、IP规划、无线网络设计、设备选型等具体工作。</li>
          </ul>




          </body>

          </html>
