<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

    <title>Resume</title>
<style rel="stylesheet/scss" lang="scss">
	.qr { position:absolute; right:0px; bottom:94px; width:260px; height:260px; background-color:rgba(0, 0, 0, 0.1);}
</style>
      <link rel="stylesheet" href="/static/css/normalize.css">

          <link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />

          </head>

          <body>

          <div style="text-align:center;clear:both;">
          </div>


          <ul class="live">
          </ul>

    <div class="qr">
      <img src="/static/img/wechat.jpg" width="100%">
    </div>
          </body>

          </html>
